<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%  @page_title = "LaternaMagica | Signup"%>
<article id="signup">
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <fieldset>
      <dl>
        <dd><%= label_tag 'username', 'Your username' %></dd>
        <dt><%= f.text_field :username %></dt>
        <dd><%= label_tag 'email', 'Your E-Mail Adress' %></dd>
        <dt><%= f.text_field :email %></dt>
        <dd><%= label_tag 'password', 'Password' %></dd>
        <dt><%= f.password_field :password %></dt>
        <dd><%= label_tag 'password_confirmation', 'Password Confirmation' %></dd>
        <dt><%= f.password_field :password_confirmation %></dt>
      </dl>
    </fieldset>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>^
      <% end %>
    </ul>
  <% end %>
</article>
