<h1>photo formular</h1>
<%= form_for(:photo, :url => {:controller => 'photos', :action => 'create'}) do |f| %>
  <fieldset>
      <%= f.hidden_field :gallery_id , :value => @photo.gallery_id %>
    <dl>
      <dd><%= label_tag 'name', 'photo name' %></dd>
      <dt><%= f.text_field :name %></dt>
      <dd><%= label_tag 'image', 'image file' %></dd>
      <dt><%= f.file_field :image %></dt>
    </dl>
</fieldset>
  <%= f.submit :create %>
<% end %>
