<!DOCTYPE html>
<html>
<head>
  <title>LaternaMagica</title>
  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <article class="container">
  <%= render "/partials/nav" %>
  <% if flash[:color]== "valid" %>
    <div class="valid_notice">
      <p><%= flash[:notice]%></p>
    </div>
  <% elsif flash[:color]== "invalid"%>
    <div class="invalid_notice">
      <p><%=flash[:notice]%></p>
    </div>
  <%else%>
    <div class="notice">
      <p><%=flash[:notice]%></p>
    </div>
    <%end%>

    <%= yield %>
  </article>
</body>
</html>
